a{
    font-size: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 15px;
}
.menu{
    text-align: center;
    margin-top: 20px;
}
.pngicon1{
    margin-left: 34%;
    margin-top: -25px;
    
}
.pngicon2{
    text-align: right;
    margin-right: 34%;
    margin-top: -35px;
}